
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tham gia 50+ lớp Yoga chuẩn 5* tại California Fitness &amp; Yoga </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/team-1/image/favicon.svg"> 
    <link rel="icon" type="image/x-icon" href="/team-1/image/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/team-1/module/system/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/team-1/themes/cfyc/assets/css/training.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="team-1/module/system/assets/css/table.css">
    <link rel="stylesheet" type="text/css" href="team-1/module/system/assets/css/reponsive.css">
    <link rel="stylesheet" type="text/css" href="team-1/module/system/assets/css/offset.css">
    <link rel="stylesheet" type="text/css" href="team-1/module/system/assets/css/form.css">
    <link rel="stylesheet" type="text/css" href="team-1/module/system/assets/css/col.css">

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    
    <!-- Code JS -->
    <link rel="stylesheet" href="./team-1/module/system/assets/js/framework-min.js">
    
    <!-- Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <style>    
      .text-infor-contain {
        color: #737276;
        font-size: 16px;
        font-weight: 300;
      }
    </style>
   
    <style>
      .text-infor-contain {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
      }

      .logo-guinness img{
        width: 150px;
        margin-top: 20px;
      }      
    </style>
  </head>

  <body>
    <div class="header-contain">
      <div class="header">
        <div class="logo_header">
          <a href="index.html">
            <img src="/team-1/image/logo.jpg" width="100%" height="100%" alt="logo">
          </a>
        </div>
        <div class="menu">
          <ul class="nav justify-content-center nav-menu">
            <li class="nav-item dropdown header-item">
              <a class="nav-link dropbtn" style="cursor: pointer;"> DỊCH VỤ 
                <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
              </a>
              <ul class="dropdown-content">
                <li class="dropdown-group" style="width: 150px !important;">
                  <a class="nav-sub-link" style="cursor: pointer;"> Lớp Học 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/class/yoga.html">Yoga</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/class/dance.html">Dance</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/class/group-x.html">Group X</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a class="nav-sub-link" style="cursor: pointer;"> Huấn Luyện
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/training/california-nutrifit.html">California NutriFit</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/training/huan-luyen-vien-ca-nhan.html">Huấn Luyện Viên Cá Nhân</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/training/kickfitmma.html">Kickfit &amp; MMA</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/training/hypoxi.html">Công nghệ giảm mỡ Hypoxi</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a class="nav-sub-link" style="cursor: pointer;"> Thử Thách Cali 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/challenge/transformation-challenge.html">Transformation Challenge</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/challenge/sunrise-yoga.html">Sunrise Yoga Championship</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/challenge/knockout-challenge.html">Knockout Challenge</a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/service/challenge/step-up.html">Step Up</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown header-item">
              <a class="nav-link dropbtn" style="cursor: pointer;" href="/team-1/service/phongTap/phong-tap-gym-the-hinh-yoga-toan-quoc.HTML"> CÂU LẠC BỘ 
                <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
              </a>
              <ul class="dropdown-content">
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-ha-noi.html" style="cursor: pointer;" class="nav-sub-link"> Hà Nội </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-da-nang.html" style="cursor: pointer;" class="nav-sub-link"> Đà Nẵng </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-khanh-hoa.html" style="cursor: pointer;" class="nav-sub-link"> Khánh Hòa </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-binh-duong.html" style="cursor: pointer;" class="nav-sub-link"> Bình Dương </a>
                </li>
                <li class="dropdown-group"> 
                  <a href="/team-1/blog/gym-dong-nai.html" style="cursor: pointer;" class="nav-sub-link"> Đồng Nai </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-baria-vungtau.html" style="cursor: pointer;" class="nav-sub-link"> Bà Rịa - Vũng Tàu </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/phong-tap-gym-yoga.html/ho-chi-minh.html" style="cursor: pointer;" class="nav-sub-link"> Hồ Chí Minh </a>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/gym-can-tho.html" style="cursor: pointer;" class="nav-sub-link"> Cần Thơ </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown header-item">
              <a class="nav-link dropbtn" href="/team-1/blog/blog.html" style="cursor: pointer;"> BLOG
                <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
              </a>
              <ul class="dropdown-content" >
                <li class="dropdown-group">
                  <a href="/team-1/blog/news.html" style="cursor: pointer;" class="nav-sub-link"> Tin tức 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-quan-6.html"> Gym Quận 6 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-quan-3.html"> Gym quận 3 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-quan-6.html"> Gym Quận 10 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-thu-duc.html"> Gym Thủ Đức </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-cau-giay.html"> Gym Cầu Giấy </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-tan-binh.html"> Gym quận Tân Bình </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-quan-11.html"> Gym quận 11 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-quan-12.html"> Gym quận 12 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-tphcm.html"> Phòng tập gym </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-da-nang.html"> Gym Đà Nẵng </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-can-tho.html"> Gym Cần Thơ </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-nha-trang.html">  Gym Nha Trang </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/gym-phu-nhuan.html"> Gym Phú Nhuận </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a href="/team-1/blog/kien-thuc-luyen-tap.html" style="cursor: pointer;" class="nav-sub-link"> Kiến thức tập luyện 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/cach-giam-mo-dui.html"> Cách giảm mỡ đùi </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/cach-giam-nong-cam.html"> Cách giảm nọng cằm </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/ngoi-thien-co-tac-dung-gi.html"> Ngồi thiền có tác dụng gì? </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/tap-co-bung-tai-nha.html"> Tập cơ bụng tại nhà </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a href="" style="cursor: pointer;" class="nav-sub-link"> Bài tập 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/bai-tap-yoga.html"> Yoga </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/cach-giam-mo-bap-tay.html"> Giảm mỡ bắp tay </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/giam-can.html"> Giảm cân </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/cardio-la-gi.html"> Cardio là gì </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/cardio-tai-nha.html"> Cardio tại nhà </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/hiit-la-gi.html"> HIIT là gì </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a href="/blog/yoga" style="cursor: pointer;" class="nav-sub-link"> Yoga 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/bai-tap-yoga.html"> Yoga giảm mỡ bụng </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/giam-can.html"> Giảm cân tại nhà </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/bai-tap/ngoi-thien-co-tac-dung-gi.html"> Ngồi thiền đúng cách </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/"> Câu lạc bộ yoga </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href=""> Yoga quận 6 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href=""> Yoga quận 11 </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href=""> Yoga Thủ Đức </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href=""> Yoga Cần Thơ </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href=""> Yoga Hà Nội </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-group">
                  <a href="/blog/kickfit-mma" style="cursor: pointer;" class="nav-sub-link"> Kickfit &amp; MMA </a>
                  <ul class="dropdown-sub-content dropdown-submenu"></ul>
                </li>
                <li class="dropdown-group">
                  <a href="/blog/dinh-duong" style="cursor: pointer;" class="nav-sub-link"> Dinh dưỡng 
                    <i class="fa-solid fa-arrow-right"  class="icon-sub-menu" alt="icon next"></i> 
                  </a>
                  <ul class="dropdown-sub-content dropdown-submenu">
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/yen-mach.html"> Yến mạch bao nhiêu calo </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/giam-mo-bung.html"> Uống gì để giảm mỡ bụng </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/che-do-an.html"> Chế độ ăn giảm mỡ bụng </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/thuc-don.html"> Thực đơn giảm cân trong 7 ngày </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/an-bun.html"> Ăn bún có béo không </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/an-trung.html"> Ăn trứng có béo không </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/an-chuoi.html"> Ăn chuối có béo không </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/banh-trang.html"> Bánh tráng trộn nhiêu calo </a>
                    </li>
                    <li class="dropdown-sub-content-item">
                      <a class="dropdowm-submenu-item" style="cursor: pointer;" href="/team-1/blog/dinh-duong/sua-dau-nanh.html"> Sữa đậu nành tăng vòng 1 </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
  
          
        </div>
        <div class="contain-right">
          <div class="block-header-mobile">
            <input id="burger-menu-checker" type="checkbox" hidden />
            <label id="burger-menu-cfyc" for="burger-menu-checker">
              <span></span>
              <span></span>
              <span style="margin-bottom: 0;"></span>
  
              <!-- list menu burger  -->
            </label>
            <ul id="menu">
              <li class="main-item">
                <input type="checkbox" id="0" hidden onchange="check_radioBtn(event)" name="drop-down-content-mobile">
                <label for="0">
                  <div>
                    <a class="navbar-item-header">DỊCH VỤ</a>
                  </div>
                  <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
                </label>
                <ul class="dropdown-content-mobile">
                  <li class="dropdown-group-mobile">
                    <input type="checkbox" id="training" hidden onchange="check_radioBtn(event)" name="drop-down-sub-content-mobile">
                    <label for="training">
                      <a class="nav-sub-link"> Lớp Học
                      
                      </a>
                      <i class="fa-solid fa-arrow-right"></i>
                      
                    </label>
                    <ul class="dropdown-sub-content-mobile">
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/class/yoga.html">Yoga</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/class/dance.html">Dance</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/class/group-x.html">Group X</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <input type="checkbox" id="coaching" hidden onchange="check_radioBtn(event)" name="drop-down-sub-content-mobile">
                    <label for="coaching">
                      <a class="nav-sub-link"> Huấn Luyện </a>
                      <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
                    </label>
                    <ul class="dropdown-sub-content-mobile">
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/training/california-nutrifit.html">California NutriFit</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/training/huan-luyen-vien-ca-nhan.html">Huấn Luyện Viên Cá Nhân</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/training/kickfitmma.html">Kickfit &amp; MMA</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/training/hypoxi.html">Công nghệ giảm mỡ Hypoxi</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <input type="checkbox" id="challenger" hidden onchange="check_radioBtn(event)" name="drop-down-sub-content-mobile">
                    <label for="challenger">
                      <a class="nav-sub-link"> Thử Thách Cali </a>
                      <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
                    </label>
                    <ul class="dropdown-sub-content-mobile">
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/challenge/transformation-challenge.html">Transformation Challenge</a>
                      </li>
                      <li class="dropdown-sub-content-item">  
                        <a class="dropdowm-submenu-item" href="/team-1/service/challenge/sunrise-yoga.html">Sunrise Yoga Championship</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/challenge/knockout-challenge.html">Knockout Challenge</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/service/challenge/step-up.html">Step Up</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="main-item">
                <input type="checkbox" id="1" hidden onchange="check_radioBtn(event)" name="drop-down-content-mobile">
                <label for="1">
                  <div>
                    <a class="navbar-item-header" href="team-1/service/phongTap/phong-tap-gym-the-hinh-yoga-toan-quoc.HTML">CÂU LẠC BỘ</a>
                  </div>
                  <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
                </label>
                <ul class="dropdown-content-mobile">
                  <li class="dropdown-group-mobile">
                    <a href="" class="nav-sub-link"> Hà Nội </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-da-nang.html" class="nav-sub-link"> Đà Nẵng </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-khanh-hoa.html" class="nav-sub-link"> Khánh Hòa </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-binh-duong.html" class="nav-sub-link"> Bình Dương </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-dong-nai.html" class="nav-sub-link"> Đồng Nai </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-baria-vungtau.html" class="nav-sub-link"> Bà Rịa - Vũng Tàu </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-tphcm.html" class="nav-sub-link"> Hồ Chí Minh </a>
                  </li>
                  <li class="dropdown-group-mobile">
                    <a href="/team-1/blog/tin-tuc/gym-can-tho.html" class="nav-sub-link"> Cần Thơ </a>
                  </li>
                </ul>
              </li>
              <li class="main-item">
                <input type="checkbox" id="2" hidden onchange="check_radioBtn(event)" name="drop-down-content-mobile">
                <label for="2">
                  <div>
                    <a class="navbar-item-header" href="/team-1/blog/">BLOG</a>
                  </div>
                  <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-menu" alt="icon next">
                </label>
                <ul class="dropdown-content-mobile" >
                  <li class="dropdown-group-mobile">
                    <input type="checkbox" id="tin-tuc-su-kien" hidden onchange="check_radioBtn(event)" name="drop-down-sub-content-mobile">
                    <label for="tin-tuc-su-kien">
                      <div class="group-blog-cate">
                        <a href="/team-1/blog/news.html" class="nav-sub-link" style="width: 200px !important;"> Tin tức &amp; Sự kiện </a>
                        <i class="fa-sharp fa-solid fa-arrow-right" style="color: red;"></i>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile" style="width: 200px !important;">
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/blog/tin-tuc-su-kien/su-kien.html">Sự Kiện</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/blog/tin-tuc-su-kien/tin-tuc.html">Tin tức</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <label for="kien-thuc-tap-luyen">
                      <div class="group-blog-cate">
                        <a href="/team-1/blog/kien-thuc-luyen-tap.html" class="nav-sub-link"> Kiến thức tập luyện </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <input type="checkbox" id="bai-tap" hidden onchange="check_radioBtn(event)" name="drop-down-sub-content-mobile">
                    <label for="bai-tap">
                      <div class="group-blog-cate">
                        <a href="/team-1/blog/bai-tap/bai-tap.html" class="nav-sub-link"> Bài tập </a>
                        <img src="/team-1/image/Vector-sub-menu.svg" class="icon-sub-sub-menu" alt="icon next">
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile">
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/blog/bai-tap/bai-tap-yoga.html">Yoga</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/blog/bai-tap/tang-co.html">Tăng cơ</a>
                      </li>
                      <li class="dropdown-sub-content-item">
                        <a class="dropdowm-submenu-item" href="/team-1/blog/bai-tap/giam-can.html">Giảm cân</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <label for="yoga">
                      <div class="group-blog-cate">
                        <a href="team-1/service/class/yoga.html" class="nav-sub-link"> Yoga </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <label for="kickfit-mma">
                      <div class="group-blog-cate">
                        <a href="team-1/service/training/kickfitmma.html" class="nav-sub-link"> Kickfit &amp; MMA </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
                  <li class="dropdown-group-mobile">
                    <label for="dinh-duong">
                      <div class="group-blog-cate">
                        <a href="team-1/blog/dinh-duong.html" class="nav-sub-link"> Dinh dưỡng </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
                  
                  <li class="dropdown-group-mobile">
                    <label for="group-x">
                      <div class="group-blog-cate">
                        <a href="team-1/service/class/group-x.html" class="nav-sub-link"> Group X </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
  
                  <li class="dropdown-group-mobile">
                    <label for="dance">
                      <div class="group-blog-cate">
                        <a href="team-1/service/class/dance.html" class="nav-sub-link"> Dance </a>
                      </div>
                    </label>
                    <ul class="dropdown-sub-content-mobile"></ul>
                  </li>
                </ul>
              </li>
              <li class="main-item">
                <label for="3">
                  <div>
                    <a class="navbar-item-header" href="/team-1/lich-tap-2.html">LỊCH TẬP / SCHEDULE</a>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
